# TO KNOW

a lot of shortucts could be used to make your life easier when executing cells in the notebook.
The most important ones, that I use frequently:
    ctrl + Enter : to execute a cell
    Escp + A: to insert a cell before
    Escp + B: to insert a cell after
    Escp + DD: to delete the cell you were in

In [1]:
# To display the full output in a cell (not only the last one)
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all" 
#To revert to the original setting :
# InteractiveShell.ast_node_interactivity = "last_expr"

# Why Python?

1-Open source
2-Syntax simple: In one line you can write a code:
            Python:
            print("Hello World")
            Java:
                public class Hello
                {
                    public static void main(String argv[])
                    {
                        System.out.printIn("Hello World");
                    }
                }
3-Very large community
4-Different packages for Data Science/ML/DL: pandas, numpy, matplotlib, seabron, Scikit-learn,...

Scripting language != Compiled language

Install Python via Anaconda distribution
    https://www.anaconda.com/distribution/

# Operators

Different types of Operators

## Arithmetic operator: Addition, substraction, multiplication, division, Others(//,%)

In [ ]:
3+5

In [ ]:
"Hello "+" "+"5"

In [ ]:
3*2.1

In [ ]:
"Hello "*5
a=2
a

## Conditional/Comparison operator: >,>=,==,<,<=,!=

In [3]:
3>1

True

In [4]:
1<1

False

## Logical operator: and, or, not

In [5]:
(3==3) and (1!=2)

True

# Variables and variable naming conventions

## Variables assignment:

In [6]:
a=3
b=2.5
print("a=",a,"Hello")
print("b=",b)
c=a
print("c=",c)
c=5
print("new c=",c)

a= 3 Hello
b= 2.5
c= 3
new c= 5

## Some rules:

Python is case sensitive: b, B are different
Can't start the name of variable with special character, except underscore, neither with a number

# Data types

Int, float, boolean, String

In [7]:
a=2
type(a)

int

In [8]:
b=2.1
type(b)

float

# Conditional statements

## Single Condition

if (condition):
    statement 1
else:
    statement 2

In [9]:
a=2

if a==1:
    print("OK")
else:
    print("a!=1")

a!=1

#### Multiple condition

if (condition1):
    statement 1
elif (condition2):
    statement 2
else:
    statement 3

In [10]:
a=2
if a > 10:
    print("a > 10")
elif a > 3:
    print("a between 3 and 10")
else:
    print("a < 3")

a < 3

In [11]:
a=2
if a==2:
    print("a is equal to 2")
else:
    print("a!=2")

a is equal to 2

# Looping statements

for (condition):
    statement

in Javascript:
for(i=0;i<=5;i++){
    console.log(i)
}

In [12]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(0,5,3):
    print(i)

0
3

# Functions

1-Built-in function: like print(), range(),...
2-Defined Function: Pnl_calculation()

## Syntax for defined function

In [14]:
def function_name(arguments):
    statement1
    statement2
    ...
    return statement

In [15]:
def au_carre(x):
    return x**2

In [16]:
au_carre(4)

16

In [17]:
def multiplication(x,y):
    return x*y

In [18]:
multiplication(2,4)

8

In [19]:
def multiplication(x=2,y=3):
    return x*y

In [20]:
multiplication()

6

In [21]:
multiplication(4,2)

8

## EXERCICE

create a simple function:
    1- Calculate the cube of x
    2- Test the function on several values

create a function : 
    1- if x is less than 10, it calculates the square, else it calculates the cube.
    2- Test the function on several values
    
create a function (do it with a loop):
    1- return the product of all integer until 10 if x<=10, else if x<=20 return the sum until 20, else return x/20
    2- Test the function on several values

In [22]:
product=1
for i in range(1,11):
    product=i*product
print("product",product)

count=1
for i in range(1,11):
    count=i+count
print("sum",count)

product 3628800
sum 56

# Data Structure

data types: int, float, string, boolean

different data types can be stored in the same structure: flexible
    1-List
    2-Dict

# List

a- What is a list?
b- How to create a list?
c- Accessing elements from a list
d- Slicing a list (=accessing a range of list)
e- Changing elements in an existing list
f- Adding elements to an existing list: append(),extend(),insert()
g- Deleting elements of a list: del, remove(),pop(),clear()
h- Getting the index of the first element matched: index()
i- Couting the number of occurrence of an item: count()
j- Sorting the list in ascending order: sort()
k- Reversing the order of the items in the list: reverse()
l- Copying a list: copy()
m- List Comprehension: way of creating a list
n- Testing for existing item in a list
o- Iterating trough a list
p- Build-in functions

## a- What is a list?

==> is a sequence of variables

## b- How to create a list?

In [23]:
my_list=[]
print("my_list",my_list)
print(type(my_list))

my_list []
<class 'list'>

In [24]:
my_list=[1,2,3]
print("my_list",my_list)

my_list [1, 2, 3]

In [25]:
#a mix of datatypes
my_list=[1,"Hello",3.2,"again "*3]
print("my_list",my_list)

my_list [1, 'Hello', 3.2, 'again again again ']

In [26]:
#nested list: a list having another list as element
my_list=['world',[2,"Hello",10]]
print(my_list)

['world', [2, 'Hello', 10]]

## c- Accessing elements from a list

In [27]:
#Positive indexing
my_list=[1,"Hello",3.2,"again "*3]
print("index 0",my_list[0])
print("index 2",my_list[2])

#Negative indexing
print("index -1",my_list[-1])

index 0 1
index 2 3.2
index -1 again again again

In [28]:
len(my_list)

4

In [29]:
#nested list
my_list=['world',[2,"Hello",10]]
print(my_list[0])
print(my_list[1])
print(my_list[1][1])

world
[2, 'Hello', 10]
Hello

## d- Slicing a list (=accessing a range of list)

In [30]:
my_list=["bla","hello","world",'python']
my_list[:2]

['bla', 'hello']

In [31]:
my_list[1:3]

['hello', 'world']

In [32]:
my_list[-2:]

['world', 'python']

## e- Changing elements in an existing list

In [33]:
my_list=["bla","hello","world",'python']
print(my_list)
my_list[0]="not bla"
print(my_list)
my_list[1:3]=[2.0,5]
print(my_list)

['bla', 'hello', 'world', 'python']
['not bla', 'hello', 'world', 'python']
['not bla', 2.0, 5, 'python']

## f- Adding elements to an existing list

##### using append and extend

In [34]:
#Add an element
my_list=[2,3,4]
print(my_list)
my_list.append(6)
print(my_list)

[2, 3, 4]
[2, 3, 4, 6]

In [35]:
#Add an element
my_list=[2,3,4]
print(my_list)
my_list.append([2,3])
print(my_list)

[2, 3, 4]
[2, 3, 4, [2, 3]]

In [36]:
[[2,3],[4,5]]

[[2, 3], [4, 5]]

In [37]:
#Add a list
my_list=[2,5,7]
print(my_list)
my_list.extend([10,20])
print(my_list)

[2, 5, 7]
[2, 5, 7, 10, 20]

create a empty list ==> my_mlist
use range(0,5) to append my_list

##### ==> Important: append and extend modify the list (object)

##### using concatenation

In [38]:
#Concatenation of lists: using the operators +
print(my_list+[100,200])

#Concatenation of lists: using the operators + and others like *
print(my_list+[500]*5)

[2, 5, 7, 10, 20, 100, 200]
[2, 5, 7, 10, 20, 500, 500, 500, 500, 500]

##### ==> Important: concatenations do not modify the list (object) ==> must re-assign the list to get it modified: my_list=...

##### using insert

In [39]:
my_list=[3,4]
print(my_list)

my_list.insert(1,10)
print(my_list)

my_list.insert(0,20)
print(my_list)

my_list.insert(1,10)
print(my_list)

my_list.insert(1,["Hello","World"])
print(my_list)

my_list[1:1]=["Hello","World"]
print(my_list)

[3, 4]
[3, 10, 4]
[20, 3, 10, 4]
[20, 10, 3, 10, 4]
[20, ['Hello', 'World'], 10, 3, 10, 4]
[20, 'Hello', 'World', ['Hello', 'World'], 10, 3, 10, 4]

## g- Deleting elements of a list

##### using del

In [40]:
my_list=[1,2,6,4,10]
print(my_list)

#delete one item
del my_list[1]
print(my_list)

#delete multiple items
del my_list[2:3]
print(my_list)

# #delete the entire list
del my_list
#  if you try a print(my_list), you will have a message error: name 'my_list' is not defined

[1, 2, 6, 4, 10]
[1, 6, 4, 10]
[1, 6, 10]

##### using remove or pop

In [41]:
my_list=[1,2,6,4,10,"Hello"]
print(my_list)

#removing a giving item by giving it's value (it's not indexing)
my_list.remove(2)
print(my_list)

# my_list.remove("Hello")
print("what?",my_list.remove("Hello"))
print(my_list)

#removing a giving item by giving it's index
print("value of the item removed", my_list.pop(2))
print(my_list)

print("value of the item removed", my_list.pop()) #it removes the last item
print(my_list)

my_list.clear()
print(my_list)
## Important: clear (delete items in the list, but keep the list) is different from del (delete definitly the list)

[1, 2, 6, 4, 10, 'Hello']
[1, 6, 4, 10, 'Hello']
what? None
[1, 6, 4, 10]
value of the item removed 4
[1, 6, 10]
value of the item removed 10
[1, 6]
[]

##### Exercice

create list range 0,5
insert at index 2 a value 10
insert at the end list [21,18]
delete the first element
remove the last element
delete the list
clear the list

In [42]:
list_=[1,2,3,4,2,5,2]
list_.remove(2)
list_

[1, 3, 4, 2, 5, 2]

## h- getting the index of the first element matched: index()

In [43]:
my_list=[1,10,-6,2,-6]
my_list.index(-6)

2

## i- couting the number of occurrence of an item: count()

In [44]:
my_list=[1,10,-6,2,-6]
my_list.count(-6)

2

## j- Sorting the list in ascending order: sort()

In [45]:
my_list=[1,10,-6,2,-6]
print(my_list)
my_list.sort()
print(my_list)

[1, 10, -6, 2, -6]
[-6, -6, 1, 2, 10]

## k- Reversing the order of the items in the list: reverse()

In [46]:
my_list=[1,10,-6,2,-6]
print(my_list)

my_list.reverse()
print(my_list)

[1, 10, -6, 2, -6]
[-6, 2, -6, 10, 1]

## l- Copying a list: copy()

In [47]:
my_list=[1,10,-6,2,-6]
print("initial list        ",my_list)

copied_list=my_list.copy()
print("copied list         ",copied_list)

my_list.reverse()
print("initial list modfied", my_list)

print("copied list         ", copied_list)

initial list         [1, 10, -6, 2, -6]
copied list          [1, 10, -6, 2, -6]
initial list modfied [-6, 2, -6, 10, 1]
copied list          [1, 10, -6, 2, -6]

## m- List Comprehension: way of creating a list

In [48]:
import numpy as np

In [49]:
my_list=[np.sqrt(x) for x in range(5)]
print(my_list)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

##### comparaison with the equivalent code

In [50]:
my_list=[]
for x in range(5):
    my_list.append(np.sqrt(x))
print(my_list)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [51]:
list_1=[10,4,8,3]
my_list=[x**2 for x in list_1]
print(my_list)

[100, 16, 64, 9]

## n- Testing for existing item in a list

In [52]:
my_list=[1,10,-6,2,-0.2]
if -6 in my_list:
    print("Ok")

Ok

## o- Iterating trough a list

In [53]:
my_list=[1,10,-6,2,-0.2]
for elem in my_list:
    print("my elem is ", elem)

my elem is  1
my elem is  10
my elem is  -6
my elem is  2
my elem is  -0.2

## p- Build-in functions

In [54]:
my_list=[10,5,3,8]
print("all",all(my_list))

my_set=[0,5,3,8]
print("all",all(my_list))

my_set=[0,5,3,8]
print("any",any(my_list))

print("enumerate")
my_list=[10,5,3,8]
print("my_list",my_list)
for i,value in enumerate(my_list):
    print("index is=",i, " the value=",value)
    
for tuple_i_v in enumerate(my_list):
    print("tuple of index and value=",tuple_i_v)
    
my_list=[10,5,3,8]
print("len",len(my_list))

print("max",max(my_list))

print("min",min(my_list))

print("sorted",sorted(my_list)) #==> It does not modify the original list
print("original list",my_list)

print("sum",sum(my_list))

all True
all True
any True
enumerate
my_list [10, 5, 3, 8]
index is= 0  the value= 10
index is= 1  the value= 5
index is= 2  the value= 3
index is= 3  the value= 8
tuple of index and value= (0, 10)
tuple of index and value= (1, 5)
tuple of index and value= (2, 3)
tuple of index and value= (3, 8)
len 4
max 10
min 3
sorted [3, 5, 8, 10]
original list [10, 5, 3, 8]
sum 26

## EXERCICE

create a list with range build-in function from -10 to 20
create another list for the previous one if item in the list % 2 =0 
==> Get the item and it's index
reverse the order of the this new list
get the maximum and the minimum, 
count number of item in the list
sum the absolute value of this list

In [55]:
# import numpy as np

In [56]:
list_test=[i for i in range(-10,20)]

In [57]:
new_list=[]
list_index=[]
for i,item in enumerate(list_test):
    if item%2==0:
        new_list.append(item)
        list_index.append(i)
new_list
new_list.reverse()
print(new_list)
sum(map(abs,list_test))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10]

245

# Set

Set = is unordered collection of items (meaning that indexing or slicing have no meaning, accessing elements not possible). Each item must be unique (no duplicates), and must be immutable (which cannont be changed). (immutable==immuable). For example a list, or dictionnary cannot be elements of a set.
The set itself is mutable (we can add, remove elements from a set).
Sets are used to perform mathematical operations like union, intersection, difference, symmetric_difference

## a- Creating a set

In [58]:
#Way1
my_set={2,6.3,"Hello","World",-40}
print(my_set)

# if you try the following code line you will get an error
# my_set={3,10,[1.5,"Hello"]} #==> error because list, which is mutable, cannot be added to a set. 
# Remember elements of a set are immutable 
print(my_set)

{2, 6.3, 'Hello', 'World', -40}
{2, 6.3, 'Hello', 'World', -40}

In [59]:
#Way2
#creating an empty set
my_set={} #==> Incorrect because it's create an empty dictionnary
print("first set", type(my_set))

my_set=set() #==> Incorrect because it's create an empty dictionnary
print("second set",type(my_set))

my_set=set((4,6,10)) # is equivalent to set({4,6,10}), also to set([4,6,10])
print("third set",type(my_set))
print(my_set)

first set <class 'dict'>
second set <class 'set'>
third set <class 'set'>
{10, 4, 6}

## b- Changint a set

add()==> to add a single element
multiple()==> to add a multiple element

In [60]:
my_set={5,2,8}
print(my_set)

my_set.add(7) #add SINGLE element
print(my_set)

my_set.add(8) #duplicates are not authorized
print(my_set)

{8, 2, 5}
{8, 2, 5, 7}
{8, 2, 5, 7}

In [61]:
my_set={5,2,22,18,20} #if length of set is >=5 ==> the set is ordered automatically
print(my_set)

my_set.update([6,7],{9,10}) #add MULTIPLE elements
print(my_set)

my_set.update([6,10],{11,12}) #duplicates are not authorized
print(my_set)

{2, 5, 18, 20, 22}
{2, 5, 6, 7, 9, 10, 18, 20, 22}
{2, 5, 6, 7, 9, 10, 11, 12, 18, 20, 22}

## c- Removing elements from a set

removing an item
discard() ==> if the element does not exist in the set, it remains unchanged
remove()==> difference with discard() is if the element does not exist in the set, it will raise an error 

pop() ==> removing an item and returning it. As the set is unordered, we can't determine which item will be removed. It's random.
clear() ==> removing all items

In [62]:
my_set={12,7,26}
print("1", my_set)

my_set.discard(12)
print("2", my_set)

my_set.discard(20)
print("3", my_set)

my_set.remove(26)
print("4", my_set)

#my_set.remove(8) #==> it will raise an error because 8 does not exist in the set
print("5", my_set)

1 {26, 12, 7}
2 {26, 7}
3 {26, 7}
4 {7}
5 {7}

In [63]:
my_set={12,7,26}
print("1", my_set)
print("2", my_set.pop())
print("3", my_set)

print("4", my_set.clear())
print("5", my_set)

1 {26, 12, 7}
2 26
3 {12, 7}
4 None
5 set()

## d- Maths operations

union: S1|S2 or S1.union(S2)
intersection: S1 & S2, S1.intersection(S2)
difference: S1 - S2, S1.difference(S2)
symmetric_difference: S1 ^ S2, S1.symmetric_difference(S2)

In [64]:
S1={1,2,3,4}
S2={3,4,5,6}
print("S1",S1)
print("S2",S2)

print("union",S1|S2)
print("union",S1.union(S2))

print("intersection",S1 & S2)
print("intersection",S1.intersection(S2))

print("difference",S1 - S2)
print("difference",S1.difference(S2))

print("difference",S2 - S1)
print("difference",S2.difference(S1))

print("symmetric difference",S1^S2)
print("symmetric difference",S1.symmetric_difference(S2))

S1 {1, 2, 3, 4}
S2 {3, 4, 5, 6}
union {1, 2, 3, 4, 5, 6}
union {1, 2, 3, 4, 5, 6}
intersection {3, 4}
intersection {3, 4}
difference {1, 2}
difference {1, 2}
difference {5, 6}
difference {5, 6}
symmetric difference {1, 2, 5, 6}
symmetric difference {1, 2, 5, 6}

## e- Testing for existing item in a set

In [65]:
my_set={1,2,3,4}
print("1", my_set)
print("2",3 in my_set)
print("3",4 not in my_set)

1 {1, 2, 3, 4}
2 True
3 False

## f- Iterating through a set

In [66]:
my_set={10,2,3,4}
print("my set is",my_set)

for item in my_set:
    print(item)

my set is {3, 10, 2, 4}
3
10
2
4

## g- Built in functions with Set

all(my_set)==> return True if all elements are true
any(my_set) ==> return True if at least one element is true. It the set is empty, it retunrs False

In [67]:
my_set={10,5,3,8}
print("all",all(my_set))

my_set={0,5,3,8}
print("all",all(my_set))

my_set={0,5,3,8}
print("any",any(my_set))

print("enumerate")
my_set={10,5,3,8}
print("my_list",my_list)
for i,value in enumerate(my_set):
    print("index is=",i, " the value=",value)
    
for tuple_i_v in enumerate(my_set):
    print("tuple of index and value=",tuple_i_v)

all True
all False
any True
enumerate
my_list [10, 5, 3, 8]
index is= 0  the value= 8
index is= 1  the value= 10
index is= 2  the value= 3
index is= 3  the value= 5
tuple of index and value= (0, 8)
tuple of index and value= (1, 10)
tuple of index and value= (2, 3)
tuple of index and value= (3, 5)

In [68]:
my_set={10,5,3,8}
print("len",len(my_set))

print("max",max(my_set))

print("min",min(my_set))

print("sorted",sorted(my_set)) #==> It returNs a sorted LIST and not a SET ==> does not sort the set itself

print("sum",sum(my_set)) #==> It returNs a sorted LIST and not a SET ==> does not sort the set itself

len 4
max 10
min 3
sorted [3, 5, 8, 10]
sum 26

# Dictionary

A dictionary is unordered collection of items. It has key:value pair items.
It allows to retrieve value when the key is known.

## a- Creating a dictionary

In [69]:
#Way1
my_dict={}
print("1-1",my_dict)

my_dict={"Key1":"Value1","Name":"DUPONT"}
print("1-2",my_dict)

#Way2
my_dict=dict()
print("2-1",my_dict)

my_dict=dict({"Key1":"Value1","Name":"DUPONT"})
print("2-2",my_dict)

#Way3
my_dict=dict([("first word","Hello"),("second word","World")])
print("3",my_dict)

1-1 {}
1-2 {'Key1': 'Value1', 'Name': 'DUPONT'}
2-1 {}
2-2 {'Key1': 'Value1', 'Name': 'DUPONT'}
3 {'first word': 'Hello', 'second word': 'World'}

## b- Accessing elements

In [70]:
my_dict=dict({"name":"DUPONT","city":"Paris"})
print(my_dict['name'])
print(my_dict.get('city'))

DUPONT
Paris

In [71]:
my_dict.keys()
my_dict.values()
my_dict.items()

dict_keys(['name', 'city'])

dict_values(['DUPONT', 'Paris'])

dict_items([('name', 'DUPONT'), ('city', 'Paris')])

## c- Adding elements

In [72]:
my_dict={"name":"DUPONT","city":"Paris"}
print(my_dict)

my_dict['adress']="1 rue princesse 6ème"
print(my_dict)

{'name': 'DUPONT', 'city': 'Paris'}
{'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème'}

## d- Changing elements

In [73]:
my_dict={"name":"DUPONT","city":"Paris"}
print(my_dict)

my_dict['city']='NEW-YORK'
print(my_dict)

{'name': 'DUPONT', 'city': 'Paris'}
{'name': 'DUPONT', 'city': 'NEW-YORK'}

In [74]:
#changing and adding elements
my_dict={'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème','hobbies':'cinema','background':'Python'}
print("1",my_dict)

#adding
my_dict.setdefault('age','45')
print("2",my_dict)

#can'i change element if it's already exist
my_dict.setdefault('name','ROY')
print("3",my_dict)

1 {'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème', 'hobbies': 'cinema', 'background': 'Python'}

'45'

2 {'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème', 'hobbies': 'cinema', 'background': 'Python', 'age': '45'}

'DUPONT'

3 {'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème', 'hobbies': 'cinema', 'background': 'Python', 'age': '45'}

#####  updating and adding elements with another dictionary

In [75]:
dict1={"A":"a","B":"c","C":"c"}
print("dict1",dict1)

dict2={"B":"b"}
print("dicté",dict1)

#update element when it exists
dict1.update(dict2)
print("dict1",dict1)

#add element if it does not exist
dict2={"D":"d"}
dict1.update(dict2)
print("dict1",dict1)

dict1 {'A': 'a', 'B': 'c', 'C': 'c'}
dicté {'A': 'a', 'B': 'c', 'C': 'c'}
dict1 {'A': 'a', 'B': 'b', 'C': 'c'}
dict1 {'A': 'a', 'B': 'b', 'C': 'c', 'D': 'd'}

#####  updating and adding elements with direct values

In [76]:
dict1={"A":"a","B":"c","C":"c"}
print("dict1",dict1)

dict1.update(D="d",E="e")
print("dict1",dict1)

dict1 {'A': 'a', 'B': 'c', 'C': 'c'}
dict1 {'A': 'a', 'B': 'c', 'C': 'c', 'D': 'd', 'E': 'e'}

## e- Deleting and removing items

pop() ==> remove an item (Key and value) from a dictionary and return it
popitem() ==> remove an arbitray item from a dictionary
clear() ==> remove all items in a dictionary
del ==> remove an item or all dictionary

In [77]:
my_dict={'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème','hobbies':'cinema','background':'Python'}
print("1",my_dict)

print("2", my_dict.pop("name"))
print("3", my_dict)
deleted_item=my_dict.popitem()
print("4", deleted_item)
# print("5", deleted_item[0])

if deleted_item[0]!='hobbies':
    del my_dict['hobbies']

print("5", my_dict)

my_dict.clear()
print("6", my_dict)

my_dict={'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème','hobbies':'cinema','background':'Python'}
del my_dict

#if you run print("7",my_dict): you will get an error, because my_dict is already deleted

1 {'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème', 'hobbies': 'cinema', 'background': 'Python'}
2 DUPONT
3 {'city': 'Paris', 'adress': '1 rue princesse 6ème', 'hobbies': 'cinema', 'background': 'Python'}
4 ('background', 'Python')
5 {'city': 'Paris', 'adress': '1 rue princesse 6ème'}
6 {}

#### f-

In [78]:
my_dict={'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème','hobbies':'cinema','background':'Python'}
print(my_dict)

print("items==",my_dict.items())
print("items sorted==",sorted(my_dict.items()))

print("keys==", my_dict.keys()) #==> can't access elements by indexing this key list ==> must convert it to a list. 

# accessing by using a loop
# for key in my_dict.keys():
#     print(key)

print("keys as list ==", list(my_dict.keys())) #==> must convert it to a list to access to elements
list_key=list(my_dict.keys())
list_key[1]
print(list_key[1])
print("values==",my_dict.values()) #==> same than keys
print("values sorted==",sorted(my_dict.values()))

{'name': 'DUPONT', 'city': 'Paris', 'adress': '1 rue princesse 6ème', 'hobbies': 'cinema', 'background': 'Python'}
items== dict_items([('name', 'DUPONT'), ('city', 'Paris'), ('adress', '1 rue princesse 6ème'), ('hobbies', 'cinema'), ('background', 'Python')])
items sorted== [('adress', '1 rue princesse 6ème'), ('background', 'Python'), ('city', 'Paris'), ('hobbies', 'cinema'), ('name', 'DUPONT')]
keys== dict_keys(['name', 'city', 'adress', 'hobbies', 'background'])
keys as list == ['name', 'city', 'adress', 'hobbies', 'background']

'city'

city
values== dict_values(['DUPONT', 'Paris', '1 rue princesse 6ème', 'cinema', 'Python'])
values sorted== ['1 rue princesse 6ème', 'DUPONT', 'Paris', 'Python', 'cinema']

In [79]:
my_dict={"":"","":"",}
for key, value in my_dict.items():

keys
values

IndentationError: expected an indented block (<ipython-input-79-adbc1ef17413>, line 4)

In [ ]:
my_dict = {}.fromkeys(['Math','English','Science'],1)
print(my_dict)

<div class="alert alert-block alert-
            info">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes. 
If it’s a note, you don’t have to include the word “Note”.
</div>

<div class="alert alert-block alert-warning">
<b>Example:</b> Yellow Boxes are generally used to include additional examples or mathematical formulas.
</div>

<div class="alert alert-block alert-success">
Use green box only when necessary like to display links to related content.
</div>

<div class="alert alert-block alert-danger">
It is good to avoid red boxes but can be used to alert users to not delete some important part of code etc. 
</div>